# Ignore compiled class files
*.class

# Eclipse-specific files
.settings/
.classpath
.project

# Build folders
build/
target/

# OS junk
.DS_Store
Thumbs.db

# Optional: Ignore WAR file if not needed
*.war